# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.env

# Project-specific caches & metadata
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional, uncomment to ignore it)
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
lib/firebase_options.dart
lib/widgets/test.dart

# Build outputs
/build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/.cxx/
android/app/debug/
android/app/profile/
android/app/release/

# Firebase config (exclude if added manually)
android/app/google-services.json

# Symbolication & Obfuscation outputs
app.*.symbols
app.*.map.json
